
#modal_image_show,#modal_image {
    width: 450px;
}
#hide_bitton{
    width: 50px;
}

#lang_block{
    margin-left: 30px;
}

#mySidebar{
    margin-top: -40px;
}
/* START of Fixed meny styling*/
body {
    margin: 0;
}
body a{
    color:#4CAF50;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    padding-right: 25%;
    z-index: 999;
}


.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.main {
    padding: 16px;
    margin-top: 40px;
    min-height: 1200px; /* Used in this example to enable scrolling */
}

/* END of Fixed meny styling*/


#rating_block{
    margin-top: 20px;
}
#current_number{
    font-size: 60px;
    color: green;
    font-weight: bold;
}


/* Fixed button style*/
#fixedbutton {
    position: fixed;
    bottom: 0px;
    right: 0px;
}
#fixed_tutorial_button {
    border-radius: 15px;
    height: 110px;
    padding: 10px 10px;
    widht:150px;
    background-color: yellow;
    position: fixed;
    bottom: 0px;
    right: 50%;
    bottom: 10px;
}




/* LEFT USER BLOCK*/
#main_left {
    padding-right: 10px;

}
#plan_left{
    border:2px solid yellow;
    border-radius:20px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;

}

#main_left p{
    padding: 5px;
    border-bottom: 1px solid lightgray;
}
#main_left p:hover{
    background-color:lightgray;
}
.w3-main{
    margin-left:320px;
}
@media(max-width:1000px){

    #title_right{
        float:left;
    }
    #footer_low{
        font-size: 15px;
    }
    #map {
        height: 400px;
        margin-bottom: 0px;
    }
    #header_right{
        clear: both;
        text-align: center;
    }
    #info_images img{
        height: 100px;
    }
    #right{
        padding: 0 0 ;

    }
    #main{
        min-height: 500px;
    }
    #left{
        height:100%;
    }
    #show_filters{
        display: inline;
    }
    #left{
        display: none;
    }
    #mapBlockDetail{
        width: 250px;
    }


}